# ignore git and build dependencies
**/.git
**/node_modules

# ignore build outputs
**/dist
**/.next
**/build
**/.turbo

# ignore config files that shouldn't be formatted
**/.env*
**/package-lock.json
**/yarn.lock

# ignore specific file types
**/*.md
**/*.yaml
**/*.yml